@import 'config';

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 110%;
	height: 100vh;
	box-sizing: border-box;
}

code {
	font-family: 'Courier New', Courier, monospace
}

table {
	@include blur;
	background-color: #ddd;
	border-collapse: collapse;
	margin: 0.5em;
	td, th {
		padding: 5px;
		border-style: solid;
		border-width: 1px;
		border-color: #bbb;
	}
}

img {
	max-width: 100%;
}

blockquote {
	background-color: #ddd;
	margin: 0;
	padding: 1em;
}

noscript, .noscript {
	padding: 2em;
}
